<html xmlns:th="http://thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid" style="padding:0px 80px">
        <a class="navbar-brand" href="/listarVagas">EmpregoExpress</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/listarVagas">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novaVaga">Nova vaga</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuários</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/register">Novo usuário</a></li>
                        <li><a class="dropdown-item" href="/users">Lista de usuários</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link active dropdown-item" aria-current="page" th:href="@{/logout}">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</nav>
</html>